@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: linear-gradient(0deg, #8000D2, #2B2BC2);
}

html::-webkit-scrollbar {
  width: 8px;
  background-color: #08000D;
}