header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  height: 15vh;
  width: 100vw;
  top: 0px;
}

#navbar {
  display: flex;
  border: 1px solid transparent;
  backdrop-filter: blur(10px);
  transition: all 0.5s;
  justify-content: space-between;
  height: 10vh;
  padding: 0px 25px;
  width: 90%;
  align-items: center;
}

#navbar span {
  color:#c25fff;
}

#navbar h1 {
  cursor: pointer;
  color: white;
}

#navbar h1:hover {
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.493));
}

#navbar h1:hover span {
  filter: drop-shadow(0px 0px 4px #9d00ff6c);
}

#navbar-link {
  width: 300px;
}

#navbar-link>ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar-link a {
  color: white;
}

#navbar-link a hr {
  visibility: hidden;
  height: 1px;
  border: 0px;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.514), transparent);
  width: 100%;
}

#navbar-link a:hover hr {
  visibility: visible;
}

@media screen and (max-width: 900px)  {
  #navbar h1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  #navbar {
    justify-content: center;
  }
  #navbar-link {
    display: none;
  }
}