
#projects-container>h1 {
  font-size: 3rem;
  color: white;
}

#projects-container {
  background: #08000D;
  height: 120vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#projects-container hr {
  height: 1px;
  border: 0px;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.151), transparent);
  width: 100%;
}

#projects-button {
  border-radius: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  background: #18002B;
  border: 1px solid #8000D2;
  padding: 10px;
  font-size: 0.8rem;
}

#projects-title{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#projects-title>h1 {
  margin-top: 25px;
  font-size: 3rem;
}

#projects-button>h1{
  font-weight: 300;
  color: #8000D2;
}

#projects {
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-box {
  height: 320px;
  width: 270px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  transition: all 0.3s;
  overflow: hidden;
}

.project-bg {
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.137);
  box-shadow: 2px 2px 3px black;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.project-bg:hover .project-about {
  opacity: 100;
}

.project-about {
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  opacity: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  #projects-container {
    height: max-content;
  }
  #projects-title {
    height: 150px;
  }
  #projects-button {
    height: 40px;
    padding: 5px;
  }
  #projects-title>h1 {
    font-size: 2rem;
    margin: 15px;
  }
  #projects {
    flex-wrap: wrap;
    height: max-content;
    padding: 15px 0px;
  }
  .project-box {
    width: 140px;
    height: 194px;
    padding: 0px;
    margin: 5px;
  }
  .project-box h1 {
    font-size: 0.8rem;
    text-align: center;
  }
  .project-box p {
    font-size: 0.5rem;
  }
}