@keyframes text-animation {
  0% {
    transform: scale(1);
  } 50% {
    transform: scale(1.05);
  } 100% {
    transform: scale(1);
  }
}

#presentation {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  transform-style: preserve-3d;
}

#presentation h1 {
  color: white;
  font-size: 3rem;
  font-family: "Joti One", serif;
  text-shadow:
   3px 3px #CB57D1,
   5px 5px #3C0082;
  filter: drop-shadow(2px 2px 5px black);
  animation: text-animation ease-in-out infinite 4s;
}